* {

    background-color: black;
    color: white;

}


h1 {
    color: yellow;
}

.heading {
    color: red;
}

#title {
    color: orange;
}

h1,h2,p{

    color: crimson;
}


/* descendant Selector */ 
/* Space */


div p {
    color: rgb(0, 255, 255);
}



div > p {
    color: green;
}  

input[type="text"]{
    
    border: 1px solid green !important;
}


