*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.parent{

    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 300px;
}

.box{

    background-color: black;
    color: white;
    padding: 20px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    

}